.creatSelect {
  width: 100%;
  margin: 0 auto 10px;
  font-size: 14px;
  line-height: 20px;
}
.creatSelect .creatSelect_span_num {
  padding-right: 5px;
}
.creatSelect .creatSelect_div_content {
  margin-left: 20px;
}
.creatSelect .creatSelect_div_content li {
  margin-top: 10px;
}
.creatSelect .creatSelect_div_content .creatSelect_content_input {
  width: 150px;
}
.creatSelect .creatSelect_div_content .creatSelect_content_X {
  color: red;
  padding-left: 5px;
}
.creatSelect .creatSelect_div_content textarea {
  margin-top: 10px;
}
.creatSelect .creatSelect_div_addNewSelect {
  width: 100%;
  margin: 5px auto;
  text-align: center;
  background: #eee;
}
.creatSelect .creatSelect_div_control {
  width: 160px;
}
.creatSelect .creatSelect_div_control li {
  margin-right: 8px;
}
